/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 1920px;
	margin: 0 auto;
}
.top{
	background-color: #F6F6F8;
	padding-top: 4px;
	padding-bottom: 4px;
}
.top ul{
	display: flex;
	justify-content: end;
	padding-right: 405px;
}
.fb img,.twitter img{
	margin-right: 5px;
	margin-left: 12px;
}
.fb a{
	border-right: 1px solid #cccccc;
	padding-right: 12px;
	color: #4267B2;
}
.twitter a{
	margin-left: 5px;
	color: #1DA1F2;
}
.header{
	display: flex;
	justify-content: space-around;
	height: 76px;
	align-items: center;
}
.logo{
	width: 151px;
	height: 36px;
	background-image: url(../images/hexschool-logo.png);
	background-repeat: no-repeat;
	text-indent: 101%;
  	white-space: nowrap;
 	overflow: hidden;
}
.menu{
	display: flex;
	text-align: center;
	flex-direction: row;
	align-items: center;
	
}
.menu a,.dropdown {
	color: #00251A;
	text-decoration: none;
}
.menu li{
	display: block;
	margin-left: 40px;
	font-weight: bold;
	transition: 0.1s;
}
.menu>li>a:hover{
	border-bottom: 5px solid #00cc99;
	padding-bottom: 20px;
	transition: 0.1s;
}
.dropdown{
	position: relative;
	
}
.dropdown-open{
	position: absolute;
	margin-top: 15px;
	z-index: 2;
	background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
	border-radius: 5px;
	margin-left: -18px;
}
.dropdown-open li{
	width: 100px;
	margin: 0 auto;
}
.dropdown-open a{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dropdown-open a:hover{
	background: rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border-bottom: none;
}
.swiper-container{
	position: relative;
	height: 418px;
	width: 1500px;
	overflow: hidden;
	margin: 0 auto;
}
.title{
	position: absolute;
	top: 30%;
	background: #ffffff36;
	padding-top: 26px;
	padding-left: 498px;
	font-weight: bold;
	font-size: 36px;
}
.title p{
	margin-bottom: 10px;
}
:root{
	--primary-color: gray;
  }
  .swiper-pagination-bullet{
	background: var(--primary-color) !important;
	/* 沒有active的樣式是有透明度的這裡加上讓他不透明 */ 
	opacity: 1 !important;
	transition:0.5s ;  
   }
   /* 在active的樣式重寫border-radius與padding調整到pill形狀*/
   .swiper-pagination-bullet-active{
	padding: 0px 8px;
	border-radius: 6px;
	transition:0.5s ;
   }

.course{
	display: flex;
	justify-content: center;
}
.item{
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 60px 30px;
	padding: 20px;
	border: 1px solid #cccccc;
	box-shadow:0 1px 0 0 gray;
	border-radius: 5px;
}
.course img{
	margin: 0 auto;
	text-align: center;
}
.item h3{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.item p{
	line-height: 24px;
}
.item ul li{
	list-style-type: disc;
	margin-left: 20px;
}
.item a{
	text-align: center;
}
.list{
	width: 920px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list h2{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 24px;
}
table tr{
	border-bottom: 1px solid rgb(195, 195, 195);
	text-align: left;
}
.first{
	border-top: 1px solid rgb(195,195,195);
	background: rgb(255, 255, 255);
}
table tr th,table tr td{
	padding: 16px 80px 16px 17px;
}
table tr th{
	font-weight: bold;
}
.mark{
	color: #00cc99;
	font-weight: bold;
}
.form{
	margin-top: 60px;
	background: linear-gradient(#e4fff8,#a2ddce);
}
.form h2{
	font-weight: bold;
	font-size: 24px;
	line-height: 28.8px;
	text-align: center;
	padding: 36px 0 55px;
}
h3{
	margin-bottom: 8px;
}
input{
	width: 250px;
	padding: 7px 10px;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 5px;
	margin-bottom: 16px;
}
.formleft{
	float: left;
	left: 100px;
	margin: 0 50px 0 600px;
}
.formright{
	float: left;
}
textarea{
	width: 400px;
	height: 175px;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 5px;
}
.clear{
	clear: both;
}
.btn{
	margin: 16px 42% 36px;
	width: 160px;
	border: #00251a;
	background: #00251A;
	color: #ffffff;
	margin-left: 900px;
}
.btn:hover{
	background: #00cc99;
}
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 22px 0;
  }
.footer p {
	line-height: 24px;
}
.footer p span {
	color: #00cc99;
}
.backtop{
    position: fixed;
	right: 20px;
	bottom: 20px;
	
	.topbutton{
		.fa-circle-up {
		color: #00cc99;
		}
	  }
	}
.backtop:hover{
	.fa-circle-up {
		color: white;
		background: #00251A;
		border: #00251A 2px solid;
		border-radius: 100%;
		padding: 2%;
	}
}
